@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

#header-img {
  width: 200px;
  height: 60px;
  object-fit: cover;
  object-position: center;
  margin-left: 2rem;
}

.nav-link {
  text-decoration: none;
  color: orangered;
  font-size: 1.5rem;
  white-space: nowrap;
}

#nav-bar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 48%;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 0.5rem;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

main {
  margin-top: 95px;
  padding: 0 1rem;
}

#get-started, #get-started form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem 0;
}

#get-started h1 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

#email {
  width: 400px;
  padding: 0.5rem;
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
}

#submit {
  padding: 0.7rem 1.7rem;
  font-size: 1.5rem;
  background: linear-gradient(
    90deg,
    rgba(252, 75, 26, 0.8),
    rgba(255, 238, 0, 0.8)
  );
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  transition: box-shadow 0.15s, opacity 0.15s;
}

#submit:hover {
  box-shadow: 2px 1px 5px 0 rgba(0, 0, 0, 0.3);
}

#submit:active {
 opacity: 0.8;
}

#produce {
  max-width: 1200px;
  margin: 2rem auto;
  padding: 1rem 1.5rem;
}

img {
  width: 330px;
  border-radius: 10px;
}

.farm, .vegetables, .smoothie {
  display: flex;
  margin-bottom: 2rem;
}

.details {
 margin-left: min(5%, 3rem);
}

.details h2 {
  font-size: 1.8rem;
  font-family: 'Roboto', sans-serif;
}

.details p {
  font-size: 1.3rem;
  margin-top: 0.5rem;
}

#source {
  max-width: 1200px;
  margin: 2rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 1rem;
}

#video {
  width: 560px;
  height: 315px;
}

.pricing-box h3 {
  font-size: 1.5rem;
  font-family: 'Roboto', sans-serif;
  background-color: rgb(250, 164, 84);
  padding: 1rem;
  margin-bottom: 1rem;
}

.pricing-box p {
  font-size: 1.3rem;
  margin: 0.6rem 0;
  font-family: 'Roboto', sans-serif;
}

.pricing-box .price {
  font-size: 2.5rem;
}

.pricing-box button {
  padding: 0.5rem 1.5rem;
  font-size: 1.5rem;
  background: linear-gradient(
    90deg,
    rgba(252, 75, 26, 0.8),
    rgba(255, 238, 0, 0.8)
  );
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  transition: box-shadow 0.15s, opacity 0.15s;
  margin: 1rem 0;
}

.pricing-box button:hover {
  box-shadow: 2px 1px 5px 0 rgba(0, 0, 0, 0.3);
}

.pricing-box button:active {
  opacity: 0.8;
}

.pricing-box {
  border: 1px solid black;
  width: max(31.5%, 330px);
  text-align: center;
  margin: 0.5rem;
}

#pricing {
  max-width: 1200px;
  margin: 1rem auto;
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-details {
  display: inline-block;
  padding: 0.2rem;
}

.copyright {
  color: rgb(107, 107, 107);
}

footer {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
  text-align: right;
  background-color: rgba(211, 211, 211, 0.5);
  font-size: 1.3rem;
}

@media (max-width: 750px) and (min-width: 651px) {
  html {
    font-size: 15.5px;
  }
  
  #nav-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem auto;
  }

  .nav-link {
    margin-bottom: 0.5rem;
  }

  main {
    margin-top: 160px;
  }

  .farm, .vegetables, .smoothie {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .details h2 {
    text-align: center;
    margin-top: 1rem;
  }
  
  .details p {
    text-align: center;
    margin-top: 0.5rem;
  }

  #video {
    width: 480px;
    height: 270px;
  }

  #pricing {
    display: flex;
    flex-direction: column;
  }

}

@media (max-width: 650px) {
  html {
    font-size: 14.5px;
  }
  
  #nav-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-bottom: 0.5rem; */
  }

  .nav-link {
    margin: 0.5rem 0;
  }

  header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  main {
    margin-top: 230px;
  }

  #header-img {
    margin: 0;
  }

  #email {
    width: 350px;
  }

  .farm, .vegetables, .smoothie {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .details h2 {
    text-align: center;
    margin-top: 1rem;
  }
  
  .details p {
    text-align: center;
    margin-top: 0.5rem;
  }

  #video {
    width: 400px;
    height: 225px;
  }

  #pricing {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 400px) {
  #email {
    width: 250px;
  }

  #video {
    width: 344px;
    height: 193.5px;
  }
}